* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #606c38;
    --cor2: #b6c687;
    --cor3: #dae9fa;
    --cor4: #bbb7e5;
    --cor5: #fefae0;
    --cor6: #efbdbd;
}

html,
body {
    min-height: 100vh;
}

section#QuemSomos {
    background-color: var(--cor5);
    max-height: 60vh;
    display: flex;
    align-items: center;
}

section#QuemSomos article {
    padding: 15px 0px 15px 80px;
}
section#QuemSomos article h1{
    font-size: 2.9vw;
    margin-bottom: 5px;
}
section#QuemSomos article h2{
    font-size: 1.4vw;
    margin-bottom: 30px;
}
section#QuemSomos article p{
    font-size: 1.5vw;
}

section#QuemSomos figure {
    position: relative;
    height: 60vh;
}
section#QuemSomos figure img {
    display: block;
    width: 65vh;
    height: 100%;
}
section#QuemSomos figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, #fefae0 1%, transparent 100%);
}